packages:
  dnf:
    nginx-mod-ssl: []

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["thinkindia-ssl-keys"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"

files:
  /etc/pki/tls/certs/cert.pem:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://thinkindia-ssl-keys.s3.ap-south-1.amazonaws.com/cert.pem

  /etc/pki/tls/private/privkey.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://thinkindia-ssl-keys.s3.ap-south-1.amazonaws.com/privkey.key